<!DOCTYPE html>
<html>
  <head>
    <!-- Page title with dynamic shop name -->
    <title>About <%= shopName %></title>
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
    <!-- Navigation bar rendered accordingly -->
    <nav class="navigation">
      <a class="navbutton" href="/">Home</a>
      <a class="navbutton" href="/gyms">Gyms</a>
      <a class="navbutton" href="/classes">Classes</a>
      <a class="navbutton" href="/aboutus">About Us</a>
      <a class="navbutton" href="/contactus">Contact Us</a>
      <!-- Display login or logout based on user authentication -->
      <% if (user) { %>
      <a class="navbutton" href="/logout">Logout</a>
      <% } else { %>
      <a class="navbutton" href="/login">Login</a>
      <% } %>
    </nav>
    <header>
      <h1>About Us</h1>
    </header>
    <main>
      <h2>Founder</h2>
      <div class="aboutus">
        <!-- Image of founder -->
        <img
          src="https://icon-library.com/images/business-person-icon-png/business-person-icon-png-21.jpg"
          alt="Picture of Founder"
        />
        <div>
          <!-- About message using dynamic shop name -->
          <p>
            <%= shopName %> is a family owned business, promoting physical and
            mental wellbeing. If you come by, we hope you enjoy the many
            services we offer! Find out more at:
            <a href="/classes"><%= shopName %> Classes</a>
          </p>
        </div>
      </div>
    </main>
    <footer>
      <!-- Footer with copyright and last updated information -->
      <p>&copy; <%= shopName %> 2025</p>
      <p>Updated: December 2025</p>
    </footer>
  </body>
</html>
