<!DOCTYPE html>
<html>
  <head>
    <title>Classes at <%= shopName %></title>
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
    <nav class="navigation">
      <a class="navbutton" href="/">Home</a>
      <a class="navbutton" href="/gyms">Gyms</a>
      <a class="navbutton" href="/classes">Classes</a>
      <a class="navbutton" href="/aboutus">About Us</a>
      <a class="navbutton" href="/contactus">Contact Us</a>
      <a class="navbutton" href="/login">Login</a>
    </nav>
    <header>
      <h1>Classes</h1>
    </header>
    <main>
      <p></p>
    </main>
    <footer>
      <p>&copy; <%= shopName %> 2025</p>
      <p>Updated: December 2025</p>
    </footer>
  </body>
</html>
