<!DOCTYPE html>
<html>
  <head>
    <title>Contact <%= shopName %></title>
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
    <nav class="navigation">
      <a class="navbutton" href="/">Home</a>
      <a class="navbutton" href="/gyms">Gyms</a>
      <a class="navbutton" href="/classes">Classes</a>
      <a class="navbutton" href="/aboutus">About Us</a>
      <a class="navbutton" href="/contactus">Contact Us</a>
      <a class="navbutton" href="/login">Login</a>
    </nav>
    <header>
      <h1>Contact Us</h1>
    </header>
    <main>
      <form>
        <div>
          <p>
            Name:
            <input
              type="text"
              id="name"
              name="name"
              placeholder="e.g. Muhammad Ali"
              required
            />
          </p>
        </div>
        <div>
          <p>
            Email:
            <input
              type="email"
              id="email"
              name="email"
              placeholder="e.g. muhammadali@example.com"
              required
            />
          </p>
        </div>
        <div>
          <p>
            Message:
            <input
              type="text"
              id="message"
              name="message"
              placeholder="Enter your message"
              required
            />
          </p>
        </div>
      </form>
    </main>
    <footer>
      <p>&copy; <%= shopName %> 2025</p>
      <p>Updated: December 2025</p>
    </footer>
  </body>
</html>
