<!DOCTYPE html>
<html>
  <head>
    <title>Gyms at <%= shopName %></title>
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
    <nav class="navigation">
      <a class="navbutton" href="/">Home</a>
      <a class="navbutton" href="/gyms">Gyms</a>
      <a class="navbutton" href="/classes">Classes</a>
      <a class="navbutton" href="/aboutus">About Us</a>
      <a class="navbutton" href="/contactus">Contact Us</a>
      <% if (user) { %>
      <a class="navbutton" href="/logout">Logout</a>
      <% } else { %>
      <a class="navbutton" href="/login">Login</a>
      <% } %>
    </nav>
    <header>
      <h1>Gyms</h1>
    </header>
    <main>
      <!-- Gym location listings with embedded map-->
      <h2>Locations</h2>
      <% gyms = gyms || []; %>
      <div>
        <form method="GET" action="/gyms">
          <label for="searchlocations">Search Locations: </label>
          <input
            type="text"
            id="searchlocations"
            name="searchlocations"
            placeholder="e.g. London"
          />
          <div><button type="submit">Search</button></div>
        </form>
      </div>
      <div>
        <% gyms.forEach(gym => { %>
        <h3><%= gym.city %></h3>
        <iframe
          src="<%= gym.map_embed %>"
          width="300"
          height="300"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
        ></iframe>
        <% }) %>
      </div>
    </main>
    <footer>
      <p>&copy; <%= shopName %> 2025</p>
      <p>Updated: December 2025</p>
    </footer>
  </body>
</html>
