<!DOCTYPE html>
<html>

<head>
    <title>Welcome to <%= shopName %>
    </title>
    <link rel="stylesheet" href="/style.css" />
</head>

<body>
    <section>
        <div class="navigation">
            <a class="navbutton" href="/">Home</a>
            <a class="navbutton" href="/gyms">Gyms</a>
            <a class="navbutton" href="/classes">Classes</a>
            <a class="navbutton" href="/aboutus">About Us</a>
            <a class="navbutton" href="/contactus">Contact Us</a>
            <a class="navbutton" href="/login">Login</a>
        </div>
    </section>

    <section>

        <h1>
            Login
        </h1>

    </section>
</body>

</html>