<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to <%= shopName %></title>
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
    <nav class="navigation">
      <a class="navbutton" href="/">Home</a>
      <a class="navbutton" href="/aboutus">About Us</a>
      <a class="navbutton" href="/login">Login</a>
    </nav>
    <header>
      <h1><%= shopName %></h1>
    </header>
    <main>
      <div>
        <div>Track your health & fitness!</div>
        <div>Find gyms near you!</div>
        <div>Attend fitness classes!</div>
      </div>
    </main>
    <footer>
      <p>&copy; <%= shopName %> 2025</p>
      <p>Updated: December 2025</p>
    </footer>
  </body>
</html>